@import url("https://fonts.googleapis.com/css?family=Merriweather|Roboto|Roboto+Condensed:300");
:root {
  --color-primary-1: #54e4c0;
  --color-primary-2: #56dab9;

  --color-background-1: #eeeeee;
  --color-background-2: #fcfcfc;

  --color-text-1: rgb(69, 61, 70);
  --color-text-2: #555;
  --color-text-3: #eee;
  --color-text-4: #fff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  overflow-x: hidden;
}
